# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore VSCode .class files
bin

# Gradle properties. This contains some passwords and such
gradle.properties
